 h1 {
    color:#191953;
    font-size: 41px;
    text-align:center;
}
h5 {
    font-size: 45px;
    text-align:center;
}
p {
    font-size: 20px;
   text-align:center;
}
p2 {
    font-size: 20px;
   text-align:center;
}
p3 {
    font-size: 20px;
   text-align: right;
}
p4 {
    font-size: 20px;
   text-align:center;
}
p5 {
    font-size: 20px;
   text-align:center;
}